/* PRIMARY COLORS */
$mainCardBackground: linear-gradient(
  to bottom,
  hsl(236, 72%, 79%) 0%,
  hsl(237, 63%, 64%) 100%
);

$mainColor: linear-gradient(
  to right,
  hsl(236, 72%, 79%) 0%,
  hsl(237, 63%, 64%) 100%
);

$veryLightGrayish: hsl(240, 78%, 98%);
$lightGrayishBlue: hsl(234, 14%, 74%);
$grayishBlue: hsl(233, 13%, 49%);
$darkGrayishBlue: hsl(232, 13%, 33%);
$white: #fff;
