@use "./styles/colors" as *;

.main {
  background: url("./images/bg-top.svg") top right,
    url("./images/bg-bottom.svg") bottom left, $veryLightGrayish;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
  @media screen and (max-width: 925px) {
    height: 100%;
  }
  h1 {
    position: relative;
    text-align: center;
    text-transform: capitalize;
    z-index: 9999;
    color: $grayishBlue;
  }
}
